### END-TO-END TESTS

- Testing started at: April 16th 2026, 10:41:48 am

**📦 Test Result Summary**

- ✅ 139 passed
- ❌ 2 failed
- ⚠️ 0 flaked
- ⏩ 3 skipped

⌛ _Duration: 7 minutes and 0 seconds_

**Overall Result**: 👎 Some tests failed.



<details>
    <summary>[Show/Hide] Test Result Details</summary>
    <div markdown="1">

| Test | Provider | Browser | Test Case | Tags | Result |
| :---: | :---: | :---: | :--- | :---: | :---: |
| 1 | Meshery | chromium-meshery-provider | Action buttons on adapters tab |  | ✅ |
| 2 | Meshery | chromium-meshery-provider | Aggregation Charts are displayed |  | ✅ |
| 3 | Meshery | chromium-meshery-provider | alias resolution | relationship | ✅ |
| 4 | Meshery | chromium-meshery-provider | alias resolution | relationship | ✅ |
| 5 | Meshery | chromium-meshery-provider | alias resolution | relationship | ✅ |
| 6 | Meshery | chromium-meshery-provider | alias resolution | relationship | ✅ |
| 7 | Meshery | chromium-meshery-provider | alias resolution | relationship | ✅ |
| 8 | Meshery | chromium-meshery-provider | alias resolution | relationship | ✅ |
| 9 | Meshery | chromium-meshery-provider | alias resolution | relationship | ✅ |
| 10 | Meshery | chromium-meshery-provider | alias resolution | relationship | ✅ |
| 11 | Meshery | chromium-meshery-provider | alias resolution | relationship | ✅ |
| 12 | Meshery | chromium-meshery-provider | All settings tabs |  | ✅ |
| 13 | Meshery | chromium-meshery-provider | Common UI elements |  | ✅ |
| 14 | Meshery | chromium-meshery-provider | config patching correctness | relationship | ✅ |
| 15 | Meshery | chromium-meshery-provider | config patching correctness | relationship | ✅ |
| 16 | Meshery | chromium-meshery-provider | config patching correctness | relationship | ✅ |
| 17 | Meshery | chromium-meshery-provider | config patching correctness | relationship | ✅ |
| 18 | Meshery | chromium-meshery-provider | config patching correctness | relationship | ✅ |
| 19 | Meshery | chromium-meshery-provider | config patching correctness | relationship | ✅ |
| 20 | Meshery | chromium-meshery-provider | config patching correctness | relationship | ✅ |
| 21 | Meshery | chromium-meshery-provider | config patching correctness | relationship | ✅ |
| 22 | Meshery | chromium-meshery-provider | config patching correctness | relationship | ✅ |
| 23 | Meshery | chromium-meshery-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 24 | Meshery | chromium-meshery-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 25 | Meshery | chromium-meshery-provider | Create a Model |  | ✅ |
| 26 | Meshery | chromium-meshery-provider | Delete Kubernetes cluster connections |  | ✅ |
| 27 | Meshery | chromium-meshery-provider | evaluation idempotency | relationship | ✅ |
| 28 | Meshery | chromium-meshery-provider | evaluation idempotency | relationship | ✅ |
| 29 | Meshery | chromium-meshery-provider | evaluation idempotency | relationship | ✅ |
| 30 | Meshery | chromium-meshery-provider | evaluation idempotency | relationship | ✅ |
| 31 | Meshery | chromium-meshery-provider | evaluation idempotency | relationship | ❌ |
| 32 | Meshery | chromium-meshery-provider | evaluation idempotency | relationship | ✅ |
| 33 | Meshery | chromium-meshery-provider | evaluation idempotency | relationship | ✅ |
| 34 | Meshery | chromium-meshery-provider | evaluation idempotency | relationship | ✅ |
| 35 | Meshery | chromium-meshery-provider | evaluation idempotency | relationship | ✅ |
| 36 | Meshery | chromium-meshery-provider | Grafana elements on metrics tab |  | ✅ |
| 37 | Meshery | chromium-meshery-provider | Import a Model via CSV Import |  | ✅ |
| 38 | Meshery | chromium-meshery-provider | Import a Model via File Import |  | ✅ |
| 39 | Meshery | chromium-meshery-provider | Import a Model via Url Import |  | ✅ |
| 40 | Meshery | chromium-meshery-provider | Logout from current user session |  | ✅ |
| 41 | Meshery | chromium-meshery-provider | Ping Istio Adapter | unstable | ⚠️ |
| 42 | Meshery | chromium-meshery-provider | Search a Model and Export it |  | ✅ |
| 43 | Meshery | chromium-meshery-provider | should edit design in Design Configurator |  | ✅ |
| 44 | Meshery | chromium-meshery-provider | should identify relationships for All Relationships | relationship | ✅ |
| 45 | Meshery | chromium-meshery-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ✅ |
| 46 | Meshery | chromium-meshery-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ✅ |
| 47 | Meshery | chromium-meshery-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ✅ |
| 48 | Meshery | chromium-meshery-provider | should identify relationships for meshery-design | relationship | ✅ |
| 49 | Meshery | chromium-meshery-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ✅ |
| 50 | Meshery | chromium-meshery-provider | should identify relationships for Service-To-Deployment-Network | relationship | ✅ |
| 51 | Meshery | chromium-meshery-provider | should verify Design Configurator page elements |  | ✅ |
| 52 | Meshery | chromium-meshery-provider | structural integrity | relationship | ✅ |
| 53 | Meshery | chromium-meshery-provider | structural integrity | relationship | ✅ |
| 54 | Meshery | chromium-meshery-provider | structural integrity | relationship | ✅ |
| 55 | Meshery | chromium-meshery-provider | structural integrity | relationship | ✅ |
| 56 | Meshery | chromium-meshery-provider | structural integrity | relationship | ✅ |
| 57 | Meshery | chromium-meshery-provider | structural integrity | relationship | ✅ |
| 58 | Meshery | chromium-meshery-provider | structural integrity | relationship | ✅ |
| 59 | Meshery | chromium-meshery-provider | structural integrity | relationship | ✅ |
| 60 | Meshery | chromium-meshery-provider | structural integrity | relationship | ✅ |
| 61 | Meshery | chromium-meshery-provider | Test if Left Navigation Panel is displayed |  | ✅ |
| 62 | Meshery | chromium-meshery-provider | Test if Notification button is displayed |  | ✅ |
| 63 | Meshery | chromium-meshery-provider | Test if Profile button is displayed |  | ✅ |
| 64 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ✅ |
| 65 | Meshery | chromium-meshery-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ✅ |
| 66 | Meshery | chromium-meshery-provider | Verify Kanvas Details |  | ✅ |
| 67 | Meshery | chromium-meshery-provider | Verify Kanvas Snapshot UI elements |  | ✅ |
| 68 | Meshery | chromium-meshery-provider | Verify Meshery Adapter for Istio Section |  | ✅ |
| 69 | Meshery | chromium-meshery-provider | Verify Meshery Catalog Section Details |  | ✅ |
| 70 | Meshery | chromium-meshery-provider | Verify Meshery Design Embed Details |  | ✅ |
| 71 | Meshery | chromium-meshery-provider | Verify Meshery Docker Extension Details |  | ✅ |
| 72 | Meshery | chromium-meshery-provider | Verify Performance Analysis Details |  | ✅ |
| 73 | Meshery | chromium-meshery-provider | Verify that UI components are displayed |  | ✅ |
| 74 | None | chromium-local-provider | Action buttons on adapters tab |  | ✅ |
| 75 | None | chromium-local-provider | Aggregation Charts are displayed |  | ✅ |
| 76 | None | chromium-local-provider | alias resolution | relationship | ✅ |
| 77 | None | chromium-local-provider | alias resolution | relationship | ✅ |
| 78 | None | chromium-local-provider | alias resolution | relationship | ✅ |
| 79 | None | chromium-local-provider | alias resolution | relationship | ✅ |
| 80 | None | chromium-local-provider | alias resolution | relationship | ✅ |
| 81 | None | chromium-local-provider | alias resolution | relationship | ✅ |
| 82 | None | chromium-local-provider | alias resolution | relationship | ✅ |
| 83 | None | chromium-local-provider | alias resolution | relationship | ✅ |
| 84 | None | chromium-local-provider | alias resolution | relationship | ✅ |
| 85 | None | chromium-local-provider | All settings tabs |  | ✅ |
| 86 | None | chromium-local-provider | Common UI elements |  | ✅ |
| 87 | None | chromium-local-provider | config patching correctness | relationship | ✅ |
| 88 | None | chromium-local-provider | config patching correctness | relationship | ✅ |
| 89 | None | chromium-local-provider | config patching correctness | relationship | ✅ |
| 90 | None | chromium-local-provider | config patching correctness | relationship | ✅ |
| 91 | None | chromium-local-provider | config patching correctness | relationship | ✅ |
| 92 | None | chromium-local-provider | config patching correctness | relationship | ✅ |
| 93 | None | chromium-local-provider | config patching correctness | relationship | ✅ |
| 94 | None | chromium-local-provider | config patching correctness | relationship | ✅ |
| 95 | None | chromium-local-provider | config patching correctness | relationship | ✅ |
| 96 | None | chromium-local-provider | Configure Existing Istio adapter through Mesh Adapter URL from Management page | unstable | ⚠️ |
| 97 | None | chromium-local-provider | Connect to Meshery Istio Adapter and configure it |  | ➖ |
| 98 | None | chromium-local-provider | Create a Model |  | ✅ |
| 99 | None | chromium-local-provider | Delete Kubernetes cluster connections |  | ➖ |
| 100 | None | chromium-local-provider | evaluation idempotency | relationship | ✅ |
| 101 | None | chromium-local-provider | evaluation idempotency | relationship | ✅ |
| 102 | None | chromium-local-provider | evaluation idempotency | relationship | ✅ |
| 103 | None | chromium-local-provider | evaluation idempotency | relationship | ✅ |
| 104 | None | chromium-local-provider | evaluation idempotency | relationship | ❌ |
| 105 | None | chromium-local-provider | evaluation idempotency | relationship | ✅ |
| 106 | None | chromium-local-provider | evaluation idempotency | relationship | ✅ |
| 107 | None | chromium-local-provider | evaluation idempotency | relationship | ✅ |
| 108 | None | chromium-local-provider | evaluation idempotency | relationship | ✅ |
| 109 | None | chromium-local-provider | Grafana elements on metrics tab |  | ✅ |
| 110 | None | chromium-local-provider | Import a Model via CSV Import |  | ✅ |
| 111 | None | chromium-local-provider | Import a Model via File Import |  | ✅ |
| 112 | None | chromium-local-provider | Import a Model via Url Import |  | ✅ |
| 113 | None | chromium-local-provider | Logout from current user session |  | ✅ |
| 114 | None | chromium-local-provider | Ping Istio Adapter | unstable | ⚠️ |
| 115 | None | chromium-local-provider | Search a Model and Export it |  | ✅ |
| 116 | None | chromium-local-provider | should edit design in Design Configurator |  | ✅ |
| 117 | None | chromium-local-provider | should identify relationships for All Relationships | relationship | ✅ |
| 118 | None | chromium-local-provider | should identify relationships for Container-Hierarchical-Parent-Alias-Relationship | relationship | ✅ |
| 119 | None | chromium-local-provider | should identify relationships for deployment-configmap-reference-relationship | relationship | ✅ |
| 120 | None | chromium-local-provider | should identify relationships for Hierarchical-Parent-Namespace-Relationship | relationship | ✅ |
| 121 | None | chromium-local-provider | should identify relationships for meshery-design | relationship | ✅ |
| 122 | None | chromium-local-provider | should identify relationships for pv-pvc-edge-non-binding-reference-relationship | relationship | ✅ |
| 123 | None | chromium-local-provider | should identify relationships for Service-To-Deployment-Network | relationship | ✅ |
| 124 | None | chromium-local-provider | should verify Design Configurator page elements |  | ✅ |
| 125 | None | chromium-local-provider | structural integrity | relationship | ✅ |
| 126 | None | chromium-local-provider | structural integrity | relationship | ✅ |
| 127 | None | chromium-local-provider | structural integrity | relationship | ✅ |
| 128 | None | chromium-local-provider | structural integrity | relationship | ✅ |
| 129 | None | chromium-local-provider | structural integrity | relationship | ✅ |
| 130 | None | chromium-local-provider | structural integrity | relationship | ✅ |
| 131 | None | chromium-local-provider | structural integrity | relationship | ✅ |
| 132 | None | chromium-local-provider | structural integrity | relationship | ✅ |
| 133 | None | chromium-local-provider | structural integrity | relationship | ✅ |
| 134 | None | chromium-local-provider | Test if Left Navigation Panel is displayed |  | ✅ |
| 135 | None | chromium-local-provider | Test if Notification button is displayed |  | ✅ |
| 136 | None | chromium-local-provider | Test if Profile button is displayed |  | ✅ |
| 137 | None | chromium-local-provider | Toggle &quot;Send Anonymous Performance Results&quot; |  | ✅ |
| 138 | None | chromium-local-provider | Toggle &quot;Send Anonymous Usage Statistics&quot; |  | ✅ |
| 139 | None | chromium-local-provider | Verify Kanvas Details |  | ✅ |
| 140 | None | chromium-local-provider | Verify Kanvas Snapshot UI elements |  | ✅ |
| 141 | None | chromium-local-provider | Verify Meshery Adapter for Istio Section |  | ✅ |
| 142 | None | chromium-local-provider | Verify Meshery Catalog Section Details |  | ✅ |
| 143 | None | chromium-local-provider | Verify Meshery Design Embed Details |  | ✅ |
| 144 | None | chromium-local-provider | Verify Meshery Docker Extension Details |  | ✅ |
| 145 | None | chromium-local-provider | Verify Performance Analysis Details |  | ✅ |
| 146 | None | chromium-local-provider | Verify that UI components are displayed |  | ✅ |
| 147 | None | local-setup | authenticate as None provider |  | ✅ |
| 148 | None | remote-setup | authenticate with Remote Provider |  | ✅ |

</div>
</details>




**❌ Failed Test Details**

The following tests failed. Click on each to see the failure reason:


<details>
<summary>❌ evaluation idempotency (Meshery - chromium-meshery-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation_properties.spec.js`

**Error Message:**
```
Error: re-evaluation produced 11 unexpected actions

[2mexpect([22m[31mreceived[39m[2m).[22mtoHaveLength[2m([22m[32mexpected[39m[2m)[22m

Expected length: [32m0[39m
Received length: [31m11[39m
Received array:  [31m[{"op": "delete_relationship", "value": {"id": "0d9f310b-1142-418c-9d11-83a48c99285f", "relationship": {"evaluationQuery": "", "id": "0d9f310b-1142-418c-9d11-83a48c99285f", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "30de7d2b-2d75-4d6f-bf0b-2d8279f27457", "relationship": {"evaluationQuery": "", "id": "30de7d2b-2d75-4d6f-bf0b-2d8279f27457", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "44dd50a9-95e1-431e-8cf9-b124786a0bcb", "relationship": {"evaluationQuery": "", "id": "44dd50a9-95e1-431e-8cf9-b124786a0bcb", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "64adba3a-db48-4c10-9421-6e0557cd6e36", "relationship": {"evaluationQuery": "", "id": "64adba3a-db48-4c10-9421-6e0557cd6e36", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "833a77df-6344-426a-a1dd-88acf8028bbf", "relationship": {"evaluationQuery": "", "id": "833a77df-6344-426a-a1dd-88acf8028bbf", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "8de732b9-3a37-44ff-ad24-d206c7c312a6", "relationship": {"evaluationQuery": "", "id": "8de732b9-3a37-44ff-ad24-d206c7c312a6", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "b137c85f-df27-4ff0-bed7-4a5699adb73d", "relationship": {"evaluationQuery": "", "id": "b137c85f-df27-4ff0-bed7-4a5699adb73d", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "b351c0ad-2283-4136-9e8f-3e6a72a8edd6", "relationship": {"evaluationQuery": "", "id": "b351c0ad-2283-4136-9e8f-3e6a72a8edd6", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "bdc6388c-ea01-41e8-9644-6a60a0cb87ef", "relationship": {"evaluationQuery": "", "id": "bdc6388c-ea01-41e8-9644-6a60a0cb87ef", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "be0eccc7-4aee-4e00-abfe-54c0e2c476d9", "relationship": {"evaluationQuery": "", "id": "be0eccc7-4aee-4e00-abfe-54c0e2c476d9", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, …][39m
```

**Code Snippet:**
```
[0m [90m 282 |[39m           meaningfulActions[33m,[39m
 [90m 283 |[39m           [32m`re-evaluation produced ${meaningfulActions.length} unexpected actions`[39m[33m,[39m
[31m[1m>[22m[39m[90m 284 |[39m         )[33m.[39mtoHaveLength([35m0[39m)[33m;[39m
 [90m     |[39m           [31m[1m^[22m[39m
 [90m 285 |[39m       })[33m;[39m
 [90m 286 |[39m     })[33m;[39m
 [90m 287 |[39m   }[0m
```

</details>

<details>
<summary>❌ evaluation idempotency (None - chromium-local-provider)</summary>

**File Location:** `/home/runner/work/meshery/meshery/ui/tests/e2e/relationship_evaluation_properties.spec.js`

**Error Message:**
```
Error: re-evaluation produced 11 unexpected actions

[2mexpect([22m[31mreceived[39m[2m).[22mtoHaveLength[2m([22m[32mexpected[39m[2m)[22m

Expected length: [32m0[39m
Received length: [31m11[39m
Received array:  [31m[{"op": "delete_relationship", "value": {"id": "02355e48-9652-4c64-b7ad-cba20fe9c55d", "relationship": {"evaluationQuery": "", "id": "02355e48-9652-4c64-b7ad-cba20fe9c55d", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "191d970a-cc55-43a5-8c6a-3a20ab6dd6f6", "relationship": {"evaluationQuery": "", "id": "191d970a-cc55-43a5-8c6a-3a20ab6dd6f6", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "2316be88-28be-4c66-bd7e-7da37047a7a2", "relationship": {"evaluationQuery": "", "id": "2316be88-28be-4c66-bd7e-7da37047a7a2", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "24cf8740-ecf6-42ad-8497-c235f551a925", "relationship": {"evaluationQuery": "", "id": "24cf8740-ecf6-42ad-8497-c235f551a925", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "703967e3-a54e-4b32-af5e-6f05b667cbed", "relationship": {"evaluationQuery": "", "id": "703967e3-a54e-4b32-af5e-6f05b667cbed", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "85c1705a-9b3a-4e98-9973-9d981e707113", "relationship": {"evaluationQuery": "", "id": "85c1705a-9b3a-4e98-9973-9d981e707113", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "93e866a2-c4f6-4874-96dc-e8d5d11e992c", "relationship": {"evaluationQuery": "", "id": "93e866a2-c4f6-4874-96dc-e8d5d11e992c", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "c7d030e7-6e90-4ab3-b579-b78a07304bf0", "relationship": {"evaluationQuery": "", "id": "c7d030e7-6e90-4ab3-b579-b78a07304bf0", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "db9f81ee-aa13-4811-a014-2600bcd2993f", "relationship": {"evaluationQuery": "", "id": "db9f81ee-aa13-4811-a014-2600bcd2993f", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, {"op": "delete_relationship", "value": {"id": "ea488df8-d272-4584-ba87-21cc3fe2f9f9", "relationship": {"evaluationQuery": "", "id": "ea488df8-d272-4584-ba87-21cc3fe2f9f9", "kind": "hierarchical", "metadata": {"description": "", "isAnnotation": false, "styles": [Object]}, "model": {"displayName": "Kubernetes", "id": "00000000-0000-0000-0000-000000000000", "model": [Object], "name": "kubernetes", "registrant": [Object], "version": "v1.0.0"}, "schemaVersion": "relationships.meshery.io/v1beta2", "selectors": [[Object]], "status": "deleted", "subType": "matchlabels", "type": "sibling", "version": "v1.0.0"}}}, …][39m
```

**Code Snippet:**
```
[0m [90m 282 |[39m           meaningfulActions[33m,[39m
 [90m 283 |[39m           [32m`re-evaluation produced ${meaningfulActions.length} unexpected actions`[39m[33m,[39m
[31m[1m>[22m[39m[90m 284 |[39m         )[33m.[39mtoHaveLength([35m0[39m)[33m;[39m
 [90m     |[39m           [31m[1m^[22m[39m
 [90m 285 |[39m       })[33m;[39m
 [90m 286 |[39m     })[33m;[39m
 [90m 287 |[39m   }[0m
```

</details>






**🔗 Relationship Tests**

<details>
    <summary>[Show/Hide] Relationship Test Details (18 tests)</summary>
    <div markdown="1">

| Kind | Type | SubType | From | To | Model | Design Name | Status |
| :---: | :---: | :---: | :---: | :---: | :---: | :--- | :---: |
| edge | binding | permission | ClusterRole | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | binding | permission | Role | ServiceAccount | kubernetes | Understanding Relationships | ❌ |
| edge | non-binding | network | Service | Deployment | kubernetes | service-to-deployment-network | ✅ |
| edge | non-binding | network | Service | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| edge | non-binding | reference | ClusterRoleBinding | ClusterRole | kubernetes | meshery-design-fixture.json | ❌ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | deployment-configmap-reference-relationship | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | parent | alias | Container | Deployment | kubernetes | Understanding Relationships | ✅ |
| hierarchical | parent | alias | Container | Pod | kubernetes | container-hierarchical-parent-alias-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | hierarchical-parent-namespace-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | service-to-deployment-network | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | pv-pvc-edge-non-binding-reference-relationship | ✅ |
| hierarchical | parent | inventory | * | Namespace | kubernetes | Understanding Relationships | ✅ |
| hierarchical | sibling | matchlabels | ClusterRole | ClusterRole | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Deployment | Deployment | kubernetes | meshery-design-fixture.json | ✅ |
| hierarchical | sibling | matchlabels | Service | Service | kubernetes | meshery-design-fixture.json | ✅ |

</div>
</details>


<!-- To see the full report, please visit our CI/CD pipeline with reporter. -->
